body {
  margin: 0,auto;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #3e3939;
  color: #ff7517;
}

label {
  display: inline-block;
  width: 130px;
}

input {
  width: 450px;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
}

button {
  font-size: 16px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 10px;
  border-width: 1px;
}

h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 14px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
  text-align: center;
}

.buyer{
  width: 600px;
  margin-left: 0px;
}

.seller{
  margin-left: 0px;
  width: 600px;
}

.hospital{
  width: 600px;
  margin-left: 0px;
}

#buyer-can-do{
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  margin-bottom: 30px;
  margin-left: 80px;
  width: 600px;
  padding: 20px;
}

#hospital-can-do{
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  margin-left: 80px;
  width: 600px;
  padding: 20px;
}

#seller-can-do{
  border-style: solid;
  border-width: 5px;
  margin-left: 800px;
  margin-top: -608px;
  border-radius: 40px;
  width: 600px;
  padding: 20px;
}

.function{
  text-align: center;
  font-size: 30px;
  flood-color: #2c2727;
}

#account-input{
  width: 250px;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
}

#account{
  margin-top: -40px;
  margin-bottom: 10px;
}

#current-account{
  margin-left: 70px;
  margin-right: 20px;
}

#status-str{
  margin-left: 130px;
  margin-right: 20px;
}